/* Color Theme Swatches in Hex */
$Gravity---Sand-Creatures-II-1-hex: #88a8bf;
$Gravity---Sand-Creatures-II-2-hex: #111c26;
$Gravity---Sand-Creatures-II-3-hex: #5d6a73;
$Gravity---Sand-Creatures-II-4-hex: #bfb0a3;
$Gravity---Sand-Creatures-II-5-hex: #f2e4d8;

/* Color Theme Swatches in RGBA */
$Gravity---Sand-Creatures-II-1-rgba: rgba(136, 168, 191, 1);
$Gravity---Sand-Creatures-II-2-rgba-trans: rgba(17, 28, 38, 0.6);
$Gravity---Sand-Creatures-II-2-rgba: rgba(17, 28, 38, 1);
$Gravity---Sand-Creatures-II-3-rgba: rgba(93, 106, 115, 1);
$Gravity---Sand-Creatures-II-4-rgba: rgba(191, 176, 163, 1);
$Gravity---Sand-Creatures-II-5-rgba: rgba(242, 228, 216, 1);

/* Color Theme Swatches in HSLA */
$Gravity---Sand-Creatures-II-1-hsla: hsla(205, 30, 64, 1);
$Gravity---Sand-Creatures-II-2-hsla: hsla(208, 38, 10, 1);
$Gravity---Sand-Creatures-II-3-hsla: hsla(204, 10, 40, 1);
$Gravity---Sand-Creatures-II-4-hsla: hsla(27, 17, 69, 1);
$Gravity---Sand-Creatures-II-5-hsla: hsla(27, 49, 89, 1);

$bg-color: #efefef;
$main-color: #302323;
$accent-color: #c30000;
$projects-color: #e57f01;
$contact-color: #002b76;
$about-color: #dfdb5c;

$font-size-xlarge: 96px;
$font-size-large: 86px;
$font-size-medium: 50px;
$font-size-normal: 26px;
$font-size-small: 22px;

$font-size-xlarge-tablet: 64px;
$font-size-large-tablet: 34px;
$font-size-medium-tablet: 28px;
$font-size-normal-tablet: 18px;

$font-size-xlarge-mobile: 50px;
$font-size-large-mobile: 34px;
$font-size-medium-mobile: 24px;
$font-size-normal-mobile: 16px;
$font-size-small-mobile: 14px;

$normal-weight: 400;
$semybold-weight: 600;
